{% extends "VivaShopBundle:Layouts:admin.main.twig" %}

{% block title %} | Update item{% endblock %}

{% block content %}
<h3>Item update</h3>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div>
        {{ form_label(form.title) }}
        <div>
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div>
        {{ form_label(form.description) }}
        <div>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </div>


    <div>
        {{ form_label(form.price) }}
        <div>
            {{ form_widget(form.price) }}
            {{ form_errors(form.price) }}
        </div>
    </div>

    <div>
        {{ form_label(form.category) }}
        <div>
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
    </div>

    <div>
        {{ form_label(form.file) }}
        <div>
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
    </div>

    {% if item.image %}
    <div>
        Current image:
        <div>
            <img src="/items/{{ item.image }}" width="200">
        </div>
    </div>    
    {% endif %}

    {{ form_row(form.submit, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}

{{ form_end(form) }}

{% endblock %}
